/**************ESLOGAN*********************/
#index{
    
}
.eslogan{
    width: 100%;
    height: 700px;
    background-image: url(../img/fondoindex.jpg) ;
    opacity: 1;
    background-size:cover ;
    background-repeat: no-repeat;
    margin-top: 40px;
    background-position:center;
}
.eslogan h1{
    background: none;
    width: 60%;
    height: 200px;
    margin:auto;
    padding-top: 200px;
    font-family: ubuntu ;
    text-shadow: rgb(0, 0, 0) 1px 2px 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0px;
}
.eslogan h1::before{
    color: rgb(255, 60, 0);
    content: "Clima";
    font-size:80px;
}
.eslogan h1::after{
    color: rgb(0, 60, 255);
    content: "house";
    font-size:60px;
}
.eslogan h2{
    background: none;
    width: 60%;
    height: 200px;
    margin:auto;
    padding-top: 200px;
    font-size: 40px;
    color: var(--secundario);
    text-shadow: rgb(0, 0, 0) 1px 2px 5px;
    text-transform: uppercase;
    text-align: center;
}
.menu_principal .index{
    border-bottom: 3px solid var(--secundario);
}


/**************FONDO INDEX(quiero hacer que esta imagen se quede en fondo al hacer scroll)************/

/* .FondoIndex {
    width: 100%;
    height: 600px;
    display: flex;
    margin: 0px auto 50px auto;
    overflow: hidden;
    opacity: 0.5;
} */
.boton_tienda{
    margin: 10px auto;
    width: 300px;
}
.boton_tienda a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-align: center;
}
.boton_tienda a:hover{
    color: rgb(0, 255, 0);
    font-size: 25px;
    
}
.boton_tienda a div{
    width: 300px;
    background-color: black;
    border: 1px solid black;
    padding: 5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.boton_tienda a div:hover{
    transition: 400ms;
    width: 400px;
    
}


.slider {
    overflow: hidden;
    margin: 50px auto;
    width: 1600px;
    height: 400px;
    box-shadow: 1px 1px 10px 6px var(--secundario);
    padding: 0px;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    list-style: none;
}

.slider img {
    width: 1600px;
    height: 400px;
    margin-left: 0px;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}
/* LISTA PRODUCTOS MÁS VENDIDOS */

.linea {
    border-top: 0px solid rgb(0, 0, 0);
    margin-bottom: 40px;
}

.contenedor-imagenes {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .image {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 20px;
    margin-bottom: 50px;
    /* box-shadow: 0px 0px 3px 0px rgba(13, 13, 14, 0.75); */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0px;
    background: rgba(249, 135, 39, 0.9);
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: 500ms ease;
}

.overlay h2 {
    color: rgb(12, 12, 12);
    background-color: rgba(0, 255, 255, 0);
    font-weight: 100px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-image: none;
}

.image:hover .overlay {
    height: 100%;
    cursor: pointer;
}

.overlay .precio {
    background: rgb(0, 0, 0);
    color: white;
    border: 2px dashed rgb(255, 255, 255);
    margin-top: 175px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}


/*Responsive_menu*/

@media screen and (max-width:425px) {
    .eslogan{
        width: 425px;
        height: 400px;
        background-image: url(../img/fondoindex.jpg);
        background-size: cover;
        margin: 0px;
     
    }
    .eslogan div{
        background: none;
        width: 50%;
        margin: auto;
        font-size: 15px;
    }
    
    /*menu*/
    /* .izq_menu .material-icons {
        display: none;
    }
    .thumb-nav {
        background-image: none;
        display: flex;
        margin-left: 120px;
        cursor: pointer;
        background: rgb(248, 248, 248);
    }
    .nav-options>div {
        z-index: 1;
        transition: all 450ms linear;
        background-image: none;
    }
    .thumb-nav .nav-options div a {
        background: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
    .nav-open-check,
    .nav-open-button,
    .nav-options>div {
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: rgb(255, 255, 255);
        background-image: none;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .nav-open-button {
        transform: rotate(0deg);
        transition: transform 450ms ease;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        border: 2px solid var(--secundario);
        color: rgb(255, 255, 255);
        width: 40px;
        background-image: none;
        cursor: pointer;
        background: rgb(248, 248, 248);
    }
    .nav-open-check {
        opacity: 0;
        z-index: 3;
    }
    .nav-open-check:checked~.nav-open-button~.nav-options>div:first-child {
        margin-top: 200px;
    }
    .nav-open-check:checked~.nav-open-button~.nav-options>div:nth-child(3) {
        margin-top: 150px;
    }
    .nav-open-check:checked~.nav-open-button~.nav-options>div:nth-child(2) {
        margin-top: 100px;
    }
    .nav-open-check:checked~.nav-open-button~.nav-options>div:last-child {
        margin-top: 50px;
    }
    .nav-open-check:checked~.nav-open-button {
        transform: rotate(180deg)
    }
    .material-icons.md-36 {
        font-size: 20px;
        height: 30px;
        width: 30px;
        line-height: 25px;} */

    .slider {
        overflow: hidden;
        margin: 40px auto;
        width: 325px;
        height: 100px;
        box-shadow: 1px 1px 5px 2px var(--secundario);
    }
    .slider img {
        width: 325px;
        height: 100px;
    }
    
}